---
---

@import "minima";

body {
  font-family: -apple-system, BlinkMacSystemFont,
               "PingFang TC", "Noto Sans TC",
               "Microsoft JhengHei", sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

.wrapper {
  max-width: 680px;
}

.post-title {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
}

.post-meta {
  font-size: 0.95rem;
}

.post-content {
  font-size: 17px;
  line-height: 2;
}

.post-content p {
  margin-bottom: 1.6em;
}

.site-footer {
  display: none;
}

.feed-subscribe {
  display: none;
}

.post-content p {
  margin-top: 0;
  margin-bottom: 2em !important;
}

.post-content {
  line-height: 2 !important;
}

.site-nav {
  display: none;
}
